# async file
aiofiles

# Web framework
fastapi
python-multipart
uvicorn
PyJWT
bcrypt
Babel

# date utils
interval

# data handling
numpy

# ORM
SQLAlchemy
Alembic
aiosqlite
asyncpg

websockets

# schedule
apscheduler

# python formatter
black

# uzoncalc
