aiofile==3.9.0
aiofiles==25.1.0
aiosqlite==0.22.1
alembic==1.18.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
apscheduler==3.11.2
asyncpg==0.31.0
attrs==25.4.0
authlib==1.6.8
babel==2.18.0
beartype==0.22.9
black==26.1.0
build==1.4.2
cachetools==7.0.1
caio==0.9.25
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
click==8.3.1
colorama==0.4.6
contourpy==1.3.3
cryptography==46.0.5
cycler==0.12.1
cyclopts==4.6.0
dnspython==2.8.0
docstring-parser==0.17.0
docutils==0.22.4
email-validator==2.3.0
et-xmlfile==2.0.0
exceptiongroup==1.3.1
fastapi==0.134.0
fastmcp==3.0.2
flexcache==0.3
flexparser==0.4
fonttools==4.61.1
greenlet==3.3.2
grpcio==1.78.0
h11==0.16.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
hyperframe==6.1.0
id==1.6.1
idna==3.11
importlib-metadata==8.7.1
iniconfig==2.3.0
interval==1.0.0
isort==8.0.1
jaraco-classes==3.4.0
jaraco-context==6.1.0
jaraco-functools==4.4.0
jsonref==1.1.0
jsonschema==4.26.0
jsonschema-path==0.4.4
jsonschema-specifications==2025.9.1
keyring==25.7.0
kiwisolver==1.4.9
mako==1.3.10
markdown-it-py==4.0.0
markupsafe==3.0.3
matplotlib==3.10.8
mcp==1.26.0
mdurl==0.1.2
more-itertools==10.8.0
mypy-extensions==1.1.0
nh3==0.3.4
numpy==2.4.2
openapi-pydantic==0.5.1
openpyxl==3.1.5
opentelemetry-api==1.39.1
packaging==26.0
pathable==0.5.0
pathspec==1.0.4
pillow==12.1.1
pint==0.25.2
platformdirs==4.9.2
pluggy==1.6.0
portalocker==3.2.0
protobuf==7.34.0
py-key-value-aio==0.4.4
pycparser==3.0
pydantic==2.12.5
pydantic-core==2.41.5
pydantic-settings==2.13.1
pygments==2.19.2
pyjwt==2.11.0
pyparsing==3.3.2
pyperclip==1.11.0
pyproject-hooks==1.2.0
pytest==9.0.3
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-multipart==0.0.22
pytokens==0.4.1
pywin32==311
pywin32-ctypes==0.2.3
pyyaml==6.0.3
qdrant-client==1.17.0
readme-renderer==44.0
referencing==0.37.0
requests==2.33.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.3.3
rich-rst==1.3.2
rpds-py==0.30.0
six==1.17.0
sqlalchemy==2.0.47
sse-starlette==3.2.0
starlette==0.52.1
twine==6.2.0
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
uvicorn==0.41.0
-e file:///D:/Develop/Personal/UzonCalc/uzoncalc
-e file:///D:/Develop/Personal/UzonCalc/ui/api
-e file:///D:/Develop/Personal/UzonCalc
watchfiles==1.1.1
websockets==16.0
xlwings==0.33.20
zipp==3.23.0
