include LICENSE
include README.md
include src/uzoncalc/README.md
include src/uzoncalc/template/*.html

prune tests
prune src/api
prune src/web
prune scripts
prune examples
prune build
prune dist
prune src/uzoncalc/build
prune src/uzoncalc/dist
prune src/uzoncalc/*.egg-info

global-exclude __pycache__ *.py[cod]
