/* UzonCalc template list styles */
ol,
ul {
  margin: var(--uz-space-lg) 0;
  padding-left: 2em;
  list-style-position: outside;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

li {
  margin: 0.3em 0;
}
