# Core dependencies
pint
numpy

# For Excel file handling
openpyxl
xlwings

# For plot
matplotlib
svg-py

# Testing dependencies
pytest
astpretty

# for markdown processing
markdown-it-pyrs

# for pdf generation
pymupdf
playwright

